<div class="row" >
  <div class="col-md-12" style="margin: 2rem 0rem;">
    <h3 style="display: inline-block; margin-right:2rem !important;">Products</h3>
    <%= link_to 'Add product', new_product_path, class: 'btn btn-success' %>

    <div class="float-right" style="display: inline-block;">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#seed_database">
        seed db
      </button>

      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal">
        delete db
      </button>


    </div>

  </div>

</div>

<% if flash[:notice] %>
  <div class="notice alert alert-primary alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="row">

  <% @products.each do |product| %>

  <div class="card" style="margin: .9rem; width: 18rem;">
    <div class="card-header">
      <h5><%= link_to product.name, product_path(product) %></h5>
    </div>
    <div class="card-body" style="padding: 1rem;">
      <table class="table" style="margin-bottom: 2rem;">
        <thead class="thead">
          <tr>
            <th scope="col" style="border: 0; padding: .2rem .5rem .5rem;">Country of Origin</th>
            <th scope="col" style="border: 0; padding: .2rem .5rem .5rem;">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 0; padding: .2rem .5rem .5rem;"><%= product.country_origin %></td>
            <td style="border: 0; padding: .2rem .5rem .5rem;"><%= number_to_currency(product.cost, :unit => "$") %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to 'Update', edit_product_path(product), class: "btn btn-secondary btn-sm float-left" %>
      <%= button_to "Delete", { action: "destroy", id: product.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary btn-sm float-right" %>
    </div>
  </div>

  <% end %>

</div>

<!-- Modal -->
<div class="modal fade" id="seed_database" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(url: "/seed", method: "get") do %>
      <div class="modal-header">

        <h5 class="modal-title" id="seed_databaseLabel">Seed the database with random products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <%= label_tag(:seed_with, "How many? ") %>
        <%= text_field_tag :seed_with, "", class: "form-control" %>

      </div>
      <div class="modal-footer">
        <%= submit_tag "Seed", class: "btn btn-success"  %>
      </div>

      <% end %>
    </div>
  </div>
</div>
