

<div class="row">

  <div class="col-md-3 mx-auto">

    <div class="card">
      <div class="card-header">
        <%= @product.name %>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Country of Origin</th>
              <th scope="col">Cost</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @product.country_origin %></td>
              <td><%= number_to_currency(@product.cost, :unit => "$") %></td>
            </tr>
          </tbody>
        </table>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>



  </div>

  <div class="col-md-4">
    <ul>
      <% @product.reviews.each do |review| %>
      <li>
        <% review.rating.to_i.times do %>⭐<% end %>
      </li>
      <li><%= review.content_body %> left by <%= review.author %></li>
      <% end %>
    </ul>


  </div>


</div>

<%= link_to 'Add review', new_product_review_path(@product)  %>

<%= link_to 'Go back', products_path %>
